.info-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    backdrop-filter: blur(10px);
    z-index: 50;
    overflow-y: auto;
}

.info-content {
    background-color: #222222;
    border-radius: 1rem 1rem 0 0;
    padding: 35px 16px 16px 16px;
    width: 100%;
    max-width: 500px;
    height: 35%;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.info-title {
    color: white;
    font-size: 1rem;
    font-weight: regular;
}

.info-close-btn {
    color: white;
    font-size: 2rem;
    font-weight: regular;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: -1.7rem
}

.info-icon {
    margin-left: 2rem;
    margin-top: -0.2rem
}

.fade-scale-enter-active,
.fade-scale-leave-active {
    transition: all 0.3s ease;
}

.fade-scale-enter-from,
.fade-scale-leave-to {
    opacity: 0;
    transform: scale(0.95);
}

.fade-scale-enter-to,
.fade-scale-leave-from {
    opacity: 1;
    transform: scale(1);
}